* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.FlexWrap {
    display: flex;
    flex: 1;
    height: 100%;
}

.Wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.Footer {
    position: absolute;
    background: #808080;
    bottom: 0;
    width: 100%;
    height: 75px;
}

.Header {
    background: #808080;
    padding: 10px;
    height: 50px;
}

.MainSection {
    flex: 1;
    width: 100%;
    padding-bottom: 75px;
}

.FirstSection {
    padding-bottom: 75px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background: #d3d3d3;
    border-bottom: 3px dotted #000000;
    box-sizing: border-box;
}

.AsideWrap {
    padding-left: 25px;
}

.FirstSection-block {
    background: #808080;
    align-self: flex-end;
    margin-bottom: 10px;
}

.ThirdSection {
    float: right;
    background: #d3d3d3;
    width: 200px;
    height: 250px;
}

.SecondSection {
    width: 100%;
    height: 100%;
}

.SecondHeader {
    padding: 5px;
    padding-top: 0;
}

.SecondPar {
    padding: 5px;
    padding-top: 0;
}

.LeftAside {
    width: 100%;
}